.grid{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    font-size: x-large;
    background-color: gold;
    border-radius: 3cm;
    font-style: oblique;

}

.header{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: blue;
    
}